
<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="extentReports" type="AventStack.ExtentReports.Config.ExtentConfig, AventStack.ExtentReports" />
	</configSections>

	<appSettings>
		<add key="Browser" value="Chrome"/>
		<add key="BaseUrl" value="https://www.flipkart.com/"/>
		<add key="Timeout" value="30"/>
	</appSettings>

	<extentReports>
		<configuration>
			<reportPath>TestReports\FlipkartTestReport.html</reportPath>
			<theme>Standard</theme>
			<documentTitle>Flipkart Automation Report</documentTitle>
			<encoding>UTF-8</encoding>
		</configuration>
	</extentReports>
</configuration>